@import "../../mixins/media";

.header {
  width: 100%;
  height: 105px;
  overflow-y: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);

  @include media-tablet {
    height: auto;
    overflow-y: auto;
  }
}

.header_wrapper {
  position: relative;
  height: 130px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  @include media-tablet {
    flex-direction: row;
    height: 80px;
    padding: 0 20px;
    max-width: 1170px;
    margin: 0 auto;
  }

  @include media-desktop {
    padding: 0;
  }
}

.header__logo {
  display: flex;
  flex-grow: 0;
  align-items: center;
  flex-basis: 73px;

  @include media-tablet {
    flex-basis: 40px;
  }
}

.header__search {
  flex-grow: 0;
  flex-basis: 41px;
  width: 100%;

  @include media-tablet {
    flex-grow: 1;
  }
}

.header__userInfo {
  display: none;

  @include media-tablet {
    display: block;
    flex-basis: 149px;
    height: 80px;
  }
}

.icons-of-header {
  height: 73px;
  width: 100%;
  padding: 0 20px;

  @include media-tablet {
    padding: 5px 0 0 0;
  }
}

.icons-of-header__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;

  @include media-tablet {
    margin-top: 0;
  }
}

.icon-profile {

  @include media-tablet {
    display: none;
  }
}

.search {
  height: 40px;
  width: 100%;
  display: flex;

  @include media-tablet {
    background: #ffffff;
    padding: 0 40px;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.search__wrapper {
  height: 40px;
  width: 100%;
  padding: 8px 20px;
  border-top: 1px solid #bbc4d6;
  display: flex;

  @include media-tablet {
    padding: 7px 10px;
    border: 1px solid #ebebf1;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.search__icon {
  margin-right: 2px;
}

.search__input {
  width: 100%;
  height: 100%;
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.search__input:focus {
  outline: 0;
  outline-offset: 0;
}

.search__input::placeholder {
  color: #bbc4d6;
}

.profile {
  display: none;
  width: 100%;
  height: 100%;
  border-left: 1px solid #ebebf1;
  padding: 20px 0 20px 20px;
  justify-content: space-between;
  align-items: center;

  @include media-tablet {
    display: flex;
  }
}

.profile__username {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #768298;
}

.profile__avatar {
  margin-left: 10px;
}
