header.header

  div.header_wrapper
    div.header__logo.icons-of-header
      div.icons-of-header__wrapper
        a(href="#").link
          img(src="img/main-logo.svg" alt="Логотип" width="40" height="40").icon-logo
        a(href="#").link
          img(src="img/icon-user.svg" alt="Профиль" width="24" height="24").icon-profile
    div.header__search
      div.search
        div.search__wrapper
          img(src="img/icon-search.svg" alt="Иконка поиска" width="24" height="24").search__icon
          input(placeholder='Найти...').search__input
    div.header__userInfo.profile
      div.profile__username Константин
      img(src="img/avatar.png" alt="Аватар пользователя" width="40" height="40").icon-logo

