header.header

  div.header_wrapper
    div.header__logo.icons-of-header
      div.icons-of-header__wrapper
        a(href="#").link
          img(src="https://i116.fastpic.org/big/2021/1212/f3/3b3d7e5a030c19fe03f8db9e471f0ff3.png" alt="Логотип" width="40" height="40").icon-logo
        a(href="#").link
          img(src="https://i116.fastpic.org/big/2021/1212/d0/9baeb1bc23a10b35ca337ff865d0e5d0.png" alt="Профиль" width="24" height="24").icon-profile
    div.header__search
      div.search
        div.search__wrapper
          img(src="https://i116.fastpic.org/big/2021/1212/ca/004095ecfa57c2f78501675cd04241ca.png" alt="Иконка поиска" width="24" height="24").search__icon
          input(placeholder='Найти...').search__input
    div.header__userInfo.profile
      div.profile__username Константин
      img(src="https://i116.fastpic.org/big/2021/1212/6f/4265ba6496ed0572719e04002a66906f.png" alt="Аватар пользователя" width="40" height="40").icon-logo

