@import "../mixins/media";

.container {
  min-width: 375px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.no-display {
  display: none;
}
