extends common/layout

block content
  main.main
    h1.section-name Наши партнёры
    div.list-of-partners
      article.partner-card
        a.partner-card__link-wrapper(href="#")
          img(src="http://i116.fastpic.org/big/2021/1212/b1/a4fcf6669f88e7e4658fd5b1cb0ed9b1.png" alt="Логотип партнёра" width="60" height="60")
      article.partner-card
        a.partner-card__link-wrapper(href="#")
          img(src="https://i116.fastpic.org/big/2021/1212/4c/f59e0bd17cdb203067e232b0bdc99d4c.png" alt="Логотип партнёра" width="60" height="60")
      article.partner-card
        a(href="#").partner-card__link-wrapper
          img(src="https://i116.fastpic.org/big/2021/1212/0e/1ebf28966da19acf5445ab757f978c0e.png" alt="Логотип партнёра" width="60" height="60")
      article.partner-card
        a(href="#").partner-card__link-wrapper
          img(src="https://i116.fastpic.org/big/2021/1212/ce/d06fd16df52e4db4afc1e745497025ce.png" alt="Логотип партнёра" width="60" height="60")
      article.partner-card
        a(href="#").partner-card__link-wrapper
          img(src="https://i116.fastpic.org/big/2021/1212/d5/136ad56956007ae273bf296ffd9893d5.png" alt="Логотип партнёра" width="60" height="60")
      article.partner-card
        a(href="#").partner-card__link-wrapper
          img(src="https://i116.fastpic.org/big/2021/1212/ff/5a1fb90e16f3d2949fc74e022047f3ff.png" alt="Логотип партнёра" width="60" height="60")
      article.partner-card
        a(href="#").partner-card__link-wrapper
          img(src="https://i116.fastpic.org/big/2021/1212/48/1a94e48151720a58f89794e14d4b5248.png" alt="Логотип партнёра" width="60" height="60")
      article.empty-card
      article.empty-card
      article.empty-card
