extends common/layout

block content
  main.main
    h1.section-name Наши партнёры
    div.list-of-partners
      article.partner-card
        a.partner-card__link-wrapper(href="#")
          img(src="img/icon001.svg" alt="Логотип партнёра" width="60" height="60")
      article.partner-card
        a.partner-card__link-wrapper(href="#")
          img(src="img/icon002.svg" alt="Логотип партнёра" width="60" height="60")
      article.partner-card
        a(href="#").partner-card__link-wrapper
          img(src="img/icon003.svg" alt="Логотип партнёра" width="60" height="60")
      article.partner-card
        a(href="#").partner-card__link-wrapper
          img(src="img/icon004.svg" alt="Логотип партнёра" width="60" height="60")
      article.partner-card
        a(href="#").partner-card__link-wrapper
          img(src="img/icon005.svg" alt="Логотип партнёра" width="60" height="60")
      article.partner-card
        a(href="#").partner-card__link-wrapper
          img(src="img/icon006.svg" alt="Логотип партнёра" width="60" height="60")
      article.partner-card
        a(href="#").partner-card__link-wrapper
          img(src="img/icon007.svg" alt="Логотип партнёра" width="60" height="60")
      article.empty-card
      article.empty-card
      article.empty-card
